[Desktop Entry]
Version=1.0
Name=Emulationstation
Comment=Emulator Frontend
Exec=/usr/local/bin/emulationstation
Terminal=false
Type=Application
Categories=Game
